Dataprocessing/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name ="NoSpecChar">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^+@#%&amp;()&lt;&gt;?-]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name ="GDPInt">
    <xs:restriction base="xs:integer">
      <xs:maxInclusive value="152"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Country" maxOccurs="400" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="NoSpecChar" name="Country_name"/>
              <xs:element type="xs:decimal" name="Depression"/>
              <xs:element type="GDPInt" name="Log_of_GDP_per_capita"/>
              <xs:element type="xs:float" name="total_litres_of_pure_alcohol"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

